*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 105px;
}
body{
    background-color: gray;
}
.khung{
    margin: 0 100px;
}
.dinh{
    background-color: black;
}
.dinh-inner{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.dinh-inner .welcome {
    text-align: center;
    font-size: 25px;
    padding: 10px ;
}
.dinh-inner .list ul{
    display: flex;
}
.list ul li{
    padding: 12px;
    list-style: none;
}
.list ul li span{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 25px;
}
/**/
.gioithieu{
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: column;
}
.logo img{
    padding: 12px;
    width: 300px;
}
.menu ul{
    display: flex;
}
.menu ul li{
    list-style: none;
    padding: 12px;
}
.menu ul li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
.menu ul li a:hover{
    color: rgb(221, 73, 15);
}
.quangcao{
    display: flex;
    justify-content: space-between;
}
.quangcao .qc{
    width: 480px;
}
.quangcao .qc img{
    width: 100%;
}
.quangcao .qc p{
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}
.quangcao .qc p:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
/**/
.price{
    background-color: white;
    color: black;
    padding-bottom: 100px;
}
.price .container h3{
    padding: 50px 50px 50px 0;
}
.sanpham{
    width: 250px;
}
.sanpham .list ul li{
    text-align: center;
}
.cac-san-pham{
    display: flex;
    justify-content: space-between;
}
.loai{
    color: gray;
}
.ten{
    color: black;
    font-size: 20px;
}
.gia-sp{
    color: red;
}
.buttom{
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
}
.buttom:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
